<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pagina de venta de cartas" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/assets/css/error.css" />
    <title><%= title %></title>
  </head>
  <body>
    <main class="container">
      <article class="grid">
        <button id="back-button" onclick="location.assign('/');">Volver</button> 
        <p><%= message %></p> 
      </article>
    </main>
  </body>
</html>